*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
background-color: #215e63;
color: #0ef835;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabeçalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 42px;
}


.img-cabeçalho{
width: 10%;
}

.escola-imagem{
    width: 25%;
}

.escola{
background-image:linear-gradient(#215e63,#08171b);
    color: white;
}
